/*GENERAL*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/*DESKTOP NAV*/
#desktop-nav {
    position: fixed;
    padding-top: 5px;
    width: 100%;
    z-index: 1000; /* Ensures the navbar stays above other content */
    background-color: #FBFBFB;
}

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 7vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 2rem;
}

/* Add this to style.css */
.nav-links a.active {
    color: blue; /* Choose a highlight color */
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}


/* STYLE FOR THE LANDING PAGE */

#home {
    display: flex;
    align-items: center;   
    justify-content: center; 
    height: 93vh;           
    background-color: #D4F6FF;
    padding-top: 80px; 
}

.home {
    text-align: center;
}

.title {
    font-size: 70px;
    color: #333;
    margin: 0;
}

/* Showcase Section */
#showcase {
    padding: 50px 0;
}

.showcase-img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Applies rounded corners to all sides */
    object-fit: cover;
    overflow: hidden;
}

.col-md-4 {
    padding-top: 15rem;
}

.carName,
.description {
    display: none; /* Hidden initially */
    padding: 10px;
    color: black;
    margin-top: 10px;
    border-radius: 4px;
    text-align: center;
}

.showcase-item {
    text-align: center;
    cursor: pointer; /* Indicates clickability */
}
